POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<database>
POSTGRES_HOST=postgresdb

DATABASE_URL=postgresql://<username>:<password>@postgresdb:5432/<database>

DEBUG=false

REDIS_URL=redis://redis:6379

HOST_PWD=<your-expserver-tester-directory>/backend