POSTGRES_USER=farzan
POSTGRES_PASSWORD=testpass123
POSTGRES_DB=expserver
POSTGRES_HOST=postgresdb

DATABASE_URL=postgresql://farzan:testpass123@postgresdb:5432/expserver

DEBUG=false

REDIS_URL=redis://redis:6379

HOST_PWD=/mnt/Shared/College/Semester_5/Networks_Lab/eXpServer/expserver-tester/backend