.dialog{
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(114,114,114,0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-container{
    height: 500px;
    width: 900px;
    /* border: 1px solid var(--border); */
    background-color: var(--white);
    /* border-radius: 12px; */
}

.dialog-title-container{
    height: 50px;
    border-bottom: 1px solid rgba(0,0,0,0,25);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    color: var(--red);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 12px;
}

.dialog-close-button{
    /* border: 1px solid red; */
    padding: 4px 8px;
    /* border-radius: 10px; */
    color: var(--red);
    background-color: var(--white);
    font-size: 14px;
    font-weight: 600;
    border: 2px solid var(--red);
}

.dialog-close-button:hover{
    color: var(--white);
    background-color: var(--red);
    cursor: pointer;
}

.dialog-title-container, .dialog-content-title{
    font-size: 24px;
    font-weight: 600;
}

.dialog-content-container{
    margin: 0 6px 6px 6px;
    /* border: 1px solid black; */
    height: calc(100% - 56px);
    overflow-y: scroll;
    padding: 6px;
    font-size: 18px;
    color: var(--text-color);
}

.dialog-content-container div{
    margin-block: 4px;
}

.dialog-subtitles{
    font-weight: 600;
}


